<!-- <!DOCTYPE html>
<html lang="vi" ng-app="ShopShoesPP">
<head>
    <meta charset="UTF-8">
    <title>Quản lý Nhân viên</title>
    <link rel="stylesheet" href="path/to/toastr.css">
    <script src="path/to/angular.min.js"></script>
    <script src="path/to/toastr.min.js"></script>
    <script src="path/to/yourController.js"></script>
</head> -->
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>360 Sneaker - Dashboard</title>
    <link rel="shortcut icon" href="assets/img/360 SNEAKER.png" type="image/x-icon">

    <!-- Custom fonts for this template-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
    <!-- Custom styles for this template-->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
    <link href="assets/css/sb-admin-2.min.css" rel="stylesheet">
    

</head>
<body ng-controller="EmployeesController">
    <h1>Danh sách Nhân viên</h1>
    
    <form ng-submit="saveEmployee()">
        <input type="hidden" ng-model="employeeData.id"/>
        <label>Họ và tên:</label>
        <input type="text" ng-model="employeeData.name" required/>
        <label>Chức vụ:</label>
        <input type="text" ng-model="employeeData.position" required/>
        <label>Email:</label>
        <input type="email" ng-model="employeeData.email" required/>
        <label>Số điện thoại:</label>
        <input type="text" ng-model="employeeData.phone" required/>
        <button type="submit">{{ isEditing ? 'Cập nhật' : 'Thêm' }} Nhân viên</button>
        <button type="button" ng-click="resetForm()">Hủy</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Họ và tên</th>
                <th>Chức vụ</th>
                <th>Email</th>
                <th>Số điện thoại</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="employee in employees">
                <td>{{ employee.name }}</td>
                <td>{{ employee.position }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.phone }}</td>
                <td>
                    <button ng-click="editEmployee(employee)">Sửa</button>
                    <button ng-click="deleteEmployee(employee.id)">Xóa</button>
                </td>
            </tr>
        </tbody>
    </table>

    <script>
        // Khởi tạo ứng dụng AngularJS
        const app = angular.module('yourAppName', []);
        // Đặt controller vào đây
    </script>
</body>
</html>